In [1]:
import sys
sys.path.append("../")

%load_ext autoreload
%autoreload 2

import yfinance as yf
import pandas as pd
import numpy as np
import pickle as pkl
from data import *
from signals import *

In [2]:
data = Data(updated=False)

In [4]:
with open('research_uni.txt') as uni:
    research_uni = uni.read().splitlines()
#research_uni

In [5]:
data.price.loc[research_uni]

                   Adj Close      Close       High        Low       Open  \
Symbol Date
SPY    1993-01-29  24.941385  43.937500  43.968750  43.750000  43.968750
       1993-02-01  25.118790  44.250000  44.250000  43.968750  43.968750
       1993-02-02  25.172003  44.343750  44.375000  44.125000  44.218750
       1993-02-03  25.438087  44.812500  44.843750  44.375000  44.406250
       1993-02-04  25.544531  45.000000  45.093750  44.468750  44.968750
...                      ...        ...        ...        ...        ...
VTIP   2023-10-16  47.099998  47.099998  47.209999  47.090000  47.189999
       2023-10-17  46.990002  46.990002  47.040001  46.959999  47.029999
       2023-10-18  46.950001  46.950001  47.049999  46.950001  47.020000
       2023-10-19  47.040001  47.040001  47.060001  46.939999  46.950001
       2023-10-20  47.119999  47.119999  47.139999  47.090000  47.090000

                      Volume
Symbol Date
SPY    1993-01-29  1003200.0
       1993-02-01   480500.0
       1993-02-02   201300.0
       1993-02-03   529400.0
       1993-02-04   531500.0
...                      ...
VTIP   2023-10-16  1029600.0
       2023-10-17  1284300.0
       2023-10-18  1549400.0
       2023-10-19  1828500.0
       2023-10-20  1529500.0

[446808 rows x 6 columns]

In [16]:
window = 20
(signals.ret['Adj Close']
            .dropna(axis=0, how='all')
            .groupby('Symbol')
            .rolling(window=window, min_periods=window)
            .apply(lambda x: stats.aggregate_ret(x) / (np.std(x) * np.sqrt(window)))
            .droplevel(0)
        )

Symbol  Symbol  Date
ACWI    ACWI    2008-03-31         NaN
                2008-04-01         NaN
                2008-04-02         NaN
                2008-04-03         NaN
                2008-04-04         NaN
                                ...
XLY     XLY     2023-10-16   -0.844997
                2023-10-17   -0.718570
                2023-10-18   -0.897319
                2023-10-19   -0.879251
                2023-10-20   -0.955709
Name: Adj Close, Length: 446709, dtype: float64

In [17]:
signals = Signals(data.universe, data.ticker_universe, data.price.loc[research_uni])

In [30]:
signals.signals.swaplevel()

                   Adj Close  roll_mom_20  roll_mom_60  roll_mom_252
Date       Symbol
1993-01-29 SPY           NaN          NaN          NaN           NaN
1993-02-01 SPY      0.007113          NaN          NaN           NaN
1993-02-02 SPY      0.002118          NaN          NaN           NaN
1993-02-03 SPY      0.010571          NaN          NaN           NaN
1993-02-04 SPY      0.004184          NaN          NaN           NaN
...                      ...          ...          ...           ...
2023-10-16 VTIP    -0.000212     0.009280     0.427472      0.937402
2023-10-17 VTIP    -0.002335    -0.216568     0.135733      0.880577
2023-10-18 VTIP    -0.000851    -0.107891     0.135288      0.794198
2023-10-19 VTIP     0.001917     0.200978     0.191075      0.860496
2023-10-20 VTIP     0.001701     0.307614     0.532379      0.975649

[446808 rows x 4 columns]