In [3]:
import sys
sys.path.append("../")
from data import Data
data = Data()
data.ticker_universe

Prices already updated as of 2023-09-22

0        SPY
1        IVV
2        VOO
3        VTI
4        QQQ
        ...
3147    XBJA
3148    TDVI
3149    XAUG
3150    BLKC
3151    GDMN
Name: Symbol, Length: 3152, dtype: object

In [4]:
%load_ext autoreload
%autoreload 2

In [7]:
import pandas as pd

In [5]:
data.price

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2020-09-09,AAA,23.449425,25.070000,25.118999,25.070000,25.100000,17300.0
2020-09-10,AAA,23.447550,25.068001,25.070000,25.046000,25.059999,23500.0
2020-09-11,AAA,23.416681,25.035000,25.049999,25.020000,25.040001,33400.0
2020-09-14,AAA,23.402653,25.020000,25.059999,25.010000,25.010000,13100.0
2020-09-15,AAA,23.393297,25.010000,25.030001,25.010000,25.020000,12100.0
...,...,...,...,...,...,...,...
2023-09-15,ZTAX,25.250000,25.250000,25.250000,25.250000,25.250000,0.0
2023-09-18,ZTAX,25.254999,25.254999,25.254999,25.254999,25.254999,100.0
2023-09-19,ZTAX,25.260000,25.260000,25.260000,25.260000,25.260000,0.0
2023-09-20,ZTAX,25.525000,25.525000,25.525000,25.200001,25.200001,500.0
2023-09-21,ZTAX,25.254999,25.254999,25.254999,25.254999,25.254999,0.0